@{
    ViewData["Title"] = "Home Page";
}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background: url('images/frank-mckenna-150516-unsplash.jpg'); background-size: cover; background-position: center center">
        <div class="container">
            <h1 class="display-3">James' Blog</h1>
            <p>Write some blurb here</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            @foreach (var post in (IEnumerable<PostModel>)ViewData["Posts"])
            {
                <div class="col-md-4">
                    <h2><a asp-controller="Posts" asp-action="Post" asp-route-id="@post.Locator">@post.Title</a></h2>                    
                    <p>@Html.Raw(post.ShortContent)</p>
                    <p><a asp-controller="Posts" asp-action="Post" asp-route-id="@post.Locator">Read...</a></p>
                </div>
            }
        </div>

        <hr>

    </div> <!-- /container -->

</main>
