@{
    ViewData["Title"] = "Home";
}


    <div class="jumbotron jumbotron-main text-white" >
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img src="images/deferat-dark.png" class="img-fluid" />
                </div>
                <div class="col-sm-10">
                    <h1 class="display-3">Deferat</h1>
                    <p class="lead">James Naylor's Programming Blog</p>
                </div>
            </div>
            
            
        </div>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var post in (IEnumerable<Post>)ViewData["Posts"])
            {
                <div class="col-md-4 convert-emoji">
                    <h2><a asp-controller="Posts" asp-action="Read" asp-route-id="@post.Locator">@post.Title</a></h2>                    
                    <p>@Html.Raw(post.ShortContent)</p>
                    <p><a asp-controller="Posts" asp-action="Read" asp-route-id="@post.Locator">Read...</a></p>
                </div>
            }
        </div>
        <hr />
    </div> 

</main>

<script type="text/javascript">
    unSplash
</script>
