@import url(http://fonts.googleapis.com/css?family=Montserrat:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700);

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

h1, h2, .navbar-brand {
    font-family: 'Merriweather', serif !important;
}
