@import url(http://fonts.googleapis.com/css?family=Montserrat:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Asap:400,300,700);


html {
    position: relative;
    min-height: 100%;
}

body {
    /* Move down content because we have a fixed navbar that is 3.5rem tall */
    padding-top: 3.5rem;
    /* Margin bottom by footer height */
    margin-bottom: 4.5rem;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #f9fcff;
}

.bg-dark {

    background-color: #343A40 !important;

}

h1, h2, .navbar-brand {
    font-family: 'Asap', serif !important;
}

h1 a, h1 a:active, h1 a:visited, h1 a:hover,
h2 a, h2 a:active, h2 a:visited, h2 a:hover {
    text-decoration: none;
    color: inherit
}

.search-btn, .search-btn:active, .search-btn:visited {
    color: rgba(255,255,255,.5);
}

.search-btn:hover {
    color: rgba(255,255,255,.75);
}

.jumbotron-main {
    background: url('../images/jason-leung-479251-unsplash.jpg'); 
    background-size: cover; 
    background-position: center center; 
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 3.5rem;
    background-color: #d0dbe2;
}