@model IEnumerable<PostModel>


<div class="container">

    @foreach (var post in Model)
    {
        <h1 class="mt-5"><a asp-controller="Posts" asp-action="Post" asp-route-id="@post.Locator">@post.Title</a></h1>

        @Html.Raw(post.Content)
    }

</div>
