@model PostViewModel

@{
    ViewData["Title"] = @Model.Post.Title;
    ViewData["Description"] = @Model.Post.Description;
    ViewData["Image"] = $"https://{Context.Request.Host}{Model.Post.Image}";
}

<div class="jumbotron jumbotron-main text-white" style="background: url('@Model.Post.Image'); " >

</div> 

<div class="container jumbo-overlaid  rounded shadow">

    @await Html.PartialAsync("_Post")

</div>

