@{
    ViewData["Title"] = "James Naylor";
    ViewData["Description"] = "Programming blog";
    ViewData["Image"] = $"https://{Context.Request.Host}/images/cristian-palmer-716730-unsplash.jpg";
}


    <div class="jumbotron jumbotron-main text-white" >
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img src="images/deferat-dark.png" class="img-fluid" />
                </div>
                <div class="col-sm-10">
                    <p class="lead">Programming blog</p>
                </div>
            </div>
            
            
        </div>
    </div> 

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 d-flex align-items-stretch">
                    @await Html.PartialAsync("_PostCard", ((IEnumerable<PostViewModel>)ViewData["Posts"]).First())
                </div>
        </div>
        <div class="row">
            @foreach (var post in ((IEnumerable<PostViewModel>)ViewData["Posts"]).Skip(1))
            {
                <div class="col-md-4 d-flex align-items-stretch">
                    @await Html.PartialAsync("_PostCard", post)
                </div>
            }
        </div>
        <hr />
    </div> 

</main>

<script type="text/javascript">
    unSplash
</script>
