@model Deferat.ViewModels.PostAuthorViewModel
<!-- <div style="position:relative;
    overflow:hidden;
    padding-bottom:100%;" class="rounded-image">
    <img src="../images/@Model.Author.Image" class="img-fluid" style="position:absolute; top:-10%" />
</div> -->
<div class="text-right mt-2">
    @Model.Post.Date.ToShortDateString()<br />  
    <span class="font-weight-bold">@Model.Author.DisplayName</span><br />
    @foreach (var tag in Model.Post.Categories)
    {
        <a asp-controller="Posts" asp-action="Index" asp-route-tag="@tag" class="badge badge-pill badge-primary">
            @tag
        </a>
    }
</div>
