@import url(http://fonts.googleapis.com/css?family=Montserrat:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Asap:400,300,700);


html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    /* Move down content because we have a fixed navbar that is 3.5rem tall */
    padding-top: 3.5rem;
    /* Margin bottom by footer height */
    margin-bottom: 4.5rem;
    font-family: 'Montserrat', sans-serif !important;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


.bg-dark {

    background-color: #343A40 !important;
    background-image: url('../images/prism.png');
    background-repeat: repeat;
}

.post {
    min-height: 40rem;
}

h1, h2, .navbar-brand {
    font-family: 'Asap', serif !important;
}

a, a:active, a:visited {
    color: #FB6260;
    text-decoration: none;
}

a:hover {
    color: #BC5090;
    text-decoration: none;
}

h1 a, h1 a:active, h1 a:visited, h1 a:hover,
h2 a, h2 a:active, h2 a:visited, h2 a:hover {
    text-decoration: none;
    color: inherit
}

.article h2 {
    margin-top: 3.5rem;
}

.search-btn, .search-btn:active, .search-btn:visited {
    color: rgba(255,255,255,.5);
}

.search-btn:hover {
    color: rgba(255,255,255,.75);
}

.jumbotron-main {
    background-size: cover !important;  
    background-position: center !important; 
    background-repeat: no-repeat;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 24rem;
    border-radius: 0 !important;
}

@media (max-width: 460px) {
    .jumbotron-main {
        background-position: top left !important;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 3.5rem;
}

.fancy-card:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: all .4s ease;
}

.card-deck .card {
    min-width: 20rem;
    max-width: 24rem;
}

.card{
    overflow: hidden;
    margin-bottom: 2rem;
    width: 100%;
    background-color: #f9fcff;
}

.card-img-wrapper {
    position: relative;
    overflow: hidden;
    height: 10rem;
}

.card-img-wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.card-img-wrapper img {
    height: auto;
    width: 100%;
    max-height: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.card-footer {
    background-color: #f9fcff;
    border-top: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.jumbo-overlaid {
    margin-top: -14rem;
    padding-top: 1.5rem;
}

.card-title {
    font-size: 2.5rem;
    font-family: 'Asap', serif !important;
}

.card-body {
    padding: 1rem;
}

.tags {
    height: 2rem;
}

.tag-display {
    background-color: #f9fcff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: .25rem;
}

.badge {
    background: linear-gradient(to right,#FB6260,#BC5090);
    text-transform: uppercase;
}

.badge-pill {
    border-radius: 0.2rem;
}

a.badge-primary:visited {
    color: #ffffff;
}

.avatar {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 50% !important;
}

.card-footer .byline {
    margin-left: auto;
}

.credit {
    text-align: right;
    position: absolute;
    right: 1rem;
    top: 4rem;
}

.credit i{
    opacity: 0.5;
}

.credit .creditText{
    opacity: 0.0;
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
}

.credit .creditText:hover{
    opacity: 1.0;
}

.credit i:hover + .creditText {
    opacity: 1.0;
}

.share, .share:active, .share:visited {
    color: #343A40;
    padding: 0.5rem;
}

.navbar .logo {
    height: 2rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(120deg, #343A40  0%, #161D25 100%);
        color: #f9fcff;
    }

    .card, .card-footer, .tag-display {
        background-color: #343A40;
    }

    .share, .share:active, .share:visited {
        color: #f9fcff;
    }
}